##no podra ser visualizado desde el navegador, esto tendria que ir en las carpetas de de las classes u modelos para aumentar su seguridad
#order allow,deny
#deny from all
##url amigables ejemplo
Options +FollowSymLinks
##habilitamos el redireccionamiento para poder hacer uso de las url amigables con htaccess
RewriteEngine on
# Sintaxis
RewriteRule ^url-amigable-aqui$ url-no-amigable-va-aqui.php
#En nuestro ejemplo tendríamos la siguiente ruta
#creamos las url amigables si no existen 
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f  
##Eliminamos el .php para hacer las url amigables, aun siguen funcionando las de .php pero se pueden usar sin el .php :v pero primero necesitamos declararlas aqui

RewriteRule ^clientes$ clientes.php
RewriteRule ^ventas$ ventas.php
RewriteRule ^libros$ libros.php
RewriteRule ^devoluciones$ devoluciones.php
RewriteRule ^autores$ autores.php
RewriteRule ^categorias$ categorias.php
RewriteRule ^respaldo$ respaldo.php
RewriteRule ^reportes$ reportes.php
RewriteRule ^perfil$ perfil.php
RewriteRule ^detalle_libro$ detalle_libro.php
RewriteRule ^procesar-compra$ procesar-compra.php 
RewriteRule ^factura$ factura.php
RewriteRule ^proveedores$ proveedores.php
RewriteRule ^usuarios$ usuarios.php
RewriteRule ^inicio$ index.php


##Bloquea determinadas requests que se unan para insercion de sql
RewriteCond %{THE_REQUEST} etc/passwd [NC,OR]
RewriteCond %{THE_REQUEST} cgi-bin [NC]
RewriteRule .* - [F,L]

##comando para evitar sql injection
 RewriteCond %{QUERY_STRING} (;|<|>|’|”|\)|%0A|%0D|%22|%27|%3C|%3E|%00).*(/\*|union|select|insert|cast|set|declare|drop|update|md5|benchmark) [NC,OR]
  RewriteCond %{QUERY_STRING} \.\./\.\. [OR]
  RewriteCond %{QUERY_STRING} (localhost|loopback|127\.0\.0\.1) [NC,OR]
  RewriteCond %{QUERY_STRING} \.[a-z0-9] [NC,OR]
  RewriteCond %{QUERY_STRING} (<|>|’|%0A|%0D|%27|%3C|%3E|%00) [NC]
  RewriteRule .* - [F]

##evitar injeccion y ataques con scripts
RewriteCond %{HTTP_USER_AGENT} ^$ [OR]
  RewriteCond %{HTTP_USER_AGENT} ^(java|curl|wget) [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} (winhttp|HTTrack|clshttp|archiver|loader|email|harvest|extract|grab|miner) [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} (libwww-perl|curl|wget|python|nikto|scan) [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} (<|>|’|%0A|%0D|%27|%3C|%3E|%00) [NC]
  RewriteRule .* - [F]

## Pagina de error personalizada 403, 404 and 500
ErrorDocument 404 http://localhost/alfalibros-master/views/error/404.html
ErrorDocument 500 http://example.com/500/

## Ejemplo de las redirecciones
# ErrorDocument 404 /pages/errors/error_redirect.php
# ErrorDocument 500 /pages/errors/error_redirect.php
